@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    background-color: #FAFAFF;
}

/* Main title */
h1 {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* Headings for each page */
h2 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
}


/* Headings in the Model Details page */
h3 {
    color: #000000;
    text-decoration: none;
}

/* Links in the Watchlist */
ul li a {
    color: black;
}

/* HEADER  */
.header-size {
    width: 100%;
}

.header-container {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    background-color: #FAFAFF;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.header-title {
    font-size: 25px;
    /* text-align: left; */
    padding-top: 2rem;
    padding-left: 2rem;
    margin-left: 80px;
    /* margin-right: 100px; */
    padding-bottom: 1.5rem;
    font-weight: 700;
    kerning: auto;
    display: flex;
    align-items: center;
    color: #284B63;

}

.user-profile {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
}

.user-profile-img {
    margin-top: 2rem;
    /* Adjust as needed */
    margin-left: auto;
    margin-right: 75px;
}

.user-profile-img img {
    width: 40px;
    height: auto;
    display: block;
    /* Ensures proper rendering */
}

.user-text {
    color: #101111;
    margin-right: 1rem;
    /* Add margin between User and links */
    padding-top: 1rem;
    margin-top: 1rem;

}

.menu-font {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* Adjust top margin as needed */
}

.menu-font a {
    color: #101111;
    text-decoration: none;
    margin: 0 1rem;
    /* Add horizontal margin between links */
}

.menu-font a:hover {
    color: #BAF3ED;
    transition: 0.35s;
}

/* HOME PAGE */
.table-header {
    text-align: center;
    width: 300px;
    height: 50px;
}

.table-contents {
    height: 60px;
    text-align: center;
}

.table-contents a {
    color: black;
    text-decoration: none;
}

.table-contents a:hover, .main-button a:hover {
    text-decoration: underline;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    padding: 25px;
}

.card {
    width: calc(20% - 15px);
    margin-bottom: 45px;
    box-sizing: border-box;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    margin: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    padding-bottom: 1rem;
    text-decoration: none;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px
}


/* Style for the image inside the card */
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 15px 15px;
}

/* Style for headings and other text in the card */
.card h2,
.card p,
.card a {
    margin: 5px 0;
    /* padding-left: 5px; */
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    text-decoration: none;
}


.card:hover {
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* FOOTER */

.footer table{
    width: 100%;
    border-spacing: 0px;
    background-color: #1C1C1C;
}

.footer-cell {
    height: 100px;
    background-color: #1C1C1C;
    font-size: 16px;
    text-align: center;
}

/* GENERAL */
.form-center {
    width: 375px;
    margin: 0 auto;
}

/* MAIN WIDTH TABLE */
.main-table {
    width: 750px;
    margin: 0 auto;
}

.page-content {
    text-align: left;
    margin: 0 30vw 0 30vw;
}

.text-center {
    text-align: center;
}

/* BUTTON */
.main-button, .main-button a, .main-button a:visited {
    background-color: #02589e;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 2em;
}

textarea {
    resize: vertical;
}

.submit-button {
    margin-top: 2em;
    margin-bottom: 2em;
}

.margin-top {
    margin-top: 2em;
}

.listing-img {
    width: 100%;
}

.host-img {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.thumb-img {
    width: 10%;
}