@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    background-color: #FAFAFF;
}


/* Main title */
h1 {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* Headings for each page */
h2 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
}


/* Headings in the Model Details page */
h3 {
    color: #1c1c1c;
    text-decoration: none;
}

/* Links in the Watchlist */
ul li a {
    color: black;
}

/* HEADER  */
.header-size {
    width: 100%;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    background-color: #FAFAFF;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.header-title {
    font-size: 25px;
    /* text-align: left; */
    padding-top: 2rem;
    padding-left: 2rem;
    margin-left: 80px;
    /* margin-right: 100px; */
    padding-bottom: 1.5rem;
    font-weight: 700;
    kerning: auto;
    display: flex;
    align-items: center;
    color: #284B63;

}

.user-profile {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
}

.user-profile-img {
    margin-top: 2rem;
    /* Adjust as needed */
    margin-left: auto;
    margin-right: 75px;
}

.user-profile-img img {
    width: 40px;
    height: auto;
    display: block;
    /* Ensures proper rendering */
}

.user-text {
    color: #101111;
    margin-right: 1rem;
    /* Add margin between User and links */
    padding-top: 1rem;
    margin-top: 1rem;

}

.menu-font {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* Adjust top margin as needed */
}

.menu-font a {
    color: #101111;
    text-decoration: none;
    margin: 0 1rem;
    /* Add horizontal margin between links */
}

.menu-font a:hover {
    color: #005691;
    transition: 0.35s;
}

/* HOME PAGE */
.welcome-title {
    text-align: left;
    margin-top: 5rem;
    margin-left: 110px;
    margin-bottom: -1px;
}


.table-header {
    text-align: center;
    width: 300px;
    height: 50px;
}

.table-contents {
    height: 60px;
    text-align: center;
}

.table-contents a {
    color: black;
    text-decoration: none;
}

.table-contents a:hover, .main-button a:hover {
    text-decoration: underline;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    padding: 25px;
}

.card {
    width: calc(20% - 15px);
    margin-bottom: 45px;
    box-sizing: border-box;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    margin: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    padding-bottom: 1rem;
    text-decoration: none;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px
}


/* Style for the image inside the card */
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 15px 15px;
}

/* Style for headings and other text in the card */
.card h2,
.card p,
.card a {
    margin: 5px 0;
    /* padding-left: 5px; */
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    text-decoration: none;
}


.card:hover {
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* FOOTER */

.footer {
    width: 100%;
    border-spacing: 0px;
    background-color: #1C1C1C;
    position: fixed;
    bottom: 0;
    height: 100px;
    z-index: 999;
}

.footer-cell {
    height: 100px;
    background-color: #1C1C1C;
    font-size: 16px;
    text-align: center;
}

/* PROFILE PAGE */
.profile {
    text-align: left;
    justify-content: space-evenly;
    /* width: 30%; */
    margin-left: 110px;
    display: flex;
}

.profile-card {
    position: fixed;
    top: 100px;
    left: 110px;
    width: 400px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 9998;
    margin-bottom: 3rem;
    margin-top: 6rem;
}

.profile-img {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}

.edit-profile-button {
    white-space: nowrap;
    justify-content: center;
    text-align: center;
    width: 52%;
    background-color: #0077b6;
    /* color: white; */
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transform: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    display: flex;
    margin-right: auto;
}

.edit-profile-button a,
.edit-profile-button button {

    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;

}

.edit-profile-button a {
    text-decoration: none;
}

.edit-profile-button:hover {
    background-color: #005691;
}

.edit-profile-button:hover {
    background-color: #005691;
    /* border-radius: 30px; */
}

.profile-watchlists {
    font-size: 3rem;
    /* margin-left: 0px; */
    margin-top: 100px;
    white-space: nowrap;
    background-color: none;
    z-index: 1;
}

.profile-watchlist-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35rem;
    margin-right: 3rem;
}

.watchlist-cards {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    gap: 20px;
    /* Adjust the gap between cards */
}

.watchlist-cards .column {
    width: calc(30% - 20px);
    /* Adjust card width and gap */
    margin-bottom: 20px;
    /* Adjust margin-bottom as needed */
}

/* EDIT PROFILE + NEIGHBOURHOOD PREFERENCES */

.edit {
    font-size: 40px;
    text-align: center;
    text-align: center;
    margin: 15vh 30vw 15vh 30vw;
    padding-bottom: 5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.edit-profile-img {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.edit-firstname,
.edit-lastname,
#neighbourhood_preference {
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 5px;
    /* Adjust margin as needed */
    margin-bottom: 10px;
    /* Add margin at the bottom */
    box-sizing: border-box;
}


.edit-options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.edit-option {
    flex: 1;
    text-align: left;
}


.edit-option input[type="date"],
.edit-option select {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}



.edit-option h3 {
    margin-right: 30px;
}

.edit h5 {
    text-align: left;
    display: inline-block;
    justify-content: f;
    font-size: 15px;
    font-weight: 400;
    margin-right: 0.5rem;
}

.submit-edits {
    width: 20%;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transform: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 5px;
}

.submit-edits:hover {
    background-color: #005691;
}

/* LISTINGS PAGE */
.listings-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.listing-results-title {
    text-align: center;
    justify-content: center;
}

.listings-title {
    text-align: left;
    font-size: 50px;
}

.listings-no-results {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.option {
    flex: 1;
    text-align: left;
}

.option select {
    border-radius: 15px;
}

.option label {
    display: block;
    margin-bottom: 5px;
}

.option input[type="date"],
.option select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.option.date-range {
    display: flex;
    align-items: center;
    gap: 10px;
}

.option.sort-by {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.option.sort-by label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.option.sort-by label input[type="radio"] {
    margin-right: 5px;
    margin-top: 3px;
}

.option h3 {
    margin-right: 30px;
}

.submit-listing {
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transform: all 0.3s ease;
}

.submit-listing:hover {
    background-color: #005691;
    /* border-radius: 30px; */
}

select {
    text-align: center;
}

/* LOGIN PAGE */

.user-login {
    font-size: 50px;
}

.login {
    text-align: center;
    text-align: center;
    margin: 15vh 30vw 15vh 30vw;
    padding-bottom: 5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.login-username {
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 1rem;
}

.login-password {
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 1.5rem;
}

.submit-login {
    width: 52%;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transform: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 5px;
}

.submit-login:hover {
    background-color: #005691;
    /* border-radius: 30px; */
}

.register-button {
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transform: all 0.3s ease;
}

/* REGISTER PAGE */
.register {
    text-align: center;
    text-align: center;
    margin: 15vh 30vw 15vh 30vw;
    padding-bottom: 5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.register-fields {
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
}

.neighbourhood-preference {
    flex: 1;
    text-align: center;
}

.neighbourhood-preference select {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

/* LISTING DETAILS PAGE */
.image-container {
    position: fixed;
    top: 32rem;
    left: 110px;
    transform: translateY(-50%);
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    /* box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1); */
}

.image-column {
    flex: 0 0 40%;
    margin-right: 50px;
}

.info-column {
    margin-top: 0.5rem;
    flex: 1;
    margin-right: 0.5rem;
}

.listing-info {
    text-align: left;
    display: flex;
    align-items: flex-start;
    margin-left: 170px;
    margin-right: auto;
    width: 90%;
}

.listing-info h2 {
    text-align: left;
    font-size: 3rem;
    ;
    background-color: none;
}


.price {
    margin-top: -1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.star-ratings-css {
    /* unicode-bidi: bidi-override; */
    /* color: #c5c5c5; */
    font-size: 20px;
    height: 1em;
    width: auto;
    display: inline-block;
    position: relative;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 0.25rem;
}

.star-ratings-css span {
    color: #1c1c1c;
}

.star-ratings-css .rating-value {
    margin-right: 5px;
    vertical-align: middle;
}


.star-ratings-css .star {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #1c1c1c;
    /* Color for filled stars */
    vertical-align: middle;
}

.star-ratings-css .filled {
    color: #1c1c1c;
    /* Color for filled stars */
}

.star-ratings-css .half-filled {
    color: #1c1c1c;
    /* Color for half-filled stars */
    width: 50%;
    overflow: hidden;
}

.star-ratings-css .empty {
    color: #c5c5c5;
    /* Color for empty stars */
}

.comment-textbox {
    border-radius: 5px;
    border: 0.5px solid #1c1c1c;
}

.reviews-graph {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.5rem;
    /* background-color: #ddd; */
}

.bar {
    margin-bottom: 8px;
}

.posting {
    font-size: 0.75rem;
    text-align: right;
    margin-top: -5rem;
    margin-right: 5rem;
}

.rating-decimal {
    margin-left: 0.5rem;
}

.category {
    display: inline-block;
    width: 200px;
    /* Adjust the width according to your preference */
    vertical-align: top;
}

.stars {
    display: inline-block;
}

.star-value {
    display: inline-block;
    margin-left: 10px;
    /* Add margin for spacing between stars and value */
    vertical-align: top;
}

.star {
    color: #ffc107;
    /* Set default star color to golden */
}

.empty {
    color: #ccc;
    /* Set color for empty stars */
}

.filled {
    color: #ffc107;
    /* Set color for filled and half-filled stars to golden */
}

.half-filled {
    color: transparent;
    /* Make the star transparent */
    border: 1px solid #ffc107;
    /* Set border to create an outline */
    text-shadow: none;
    /* Remove text shadow if present */
}

.host-listingdetails {
    text-align: left;
    display: flex;
    margin-left: 850px;
    margin-top: 3rem;
    margin-right: 100px;
    margin-bottom: 6rem;
}

.host-info-listingdetails {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
    
}

.host-info-listingdetails img {
    width: 60%;
    height: auto;
    margin-bottom: 2rem;
}

.host-link {
    margin-left: 1rem;
    margin-bottom: 1.7rem;
}


.host-link a {
    font-size: 2rem;
    font-weight: 300;
    color: #1c1c1c;
    /* text-decoration: none; */
}

.host-link h3 {
    font-size: 2rem;
    font-weight: 700;
}

.name-title {
    margin-bottom: 10px;
}

.add-to-watchlist {
    width: 20%;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transform: all 0.3s ease;
    margin-top: -60px;
    margin-bottom: 45px;
}

.add-to-watchlist:hover {
    background-color: #005691;
}

.added-to-watchlist {
    width: 20%;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transform: all 0.3s ease;
    margin-top: -60px;
    /* margin-bottom: 45px; */
}

.added-to-watchlist:hover {
    background-color: #005691;
}

.back-to-listings {
    margin-top: 10px;
    margin-left: -60px;
    border: none;
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1rem;
    display: flex;
    position: fixed;
}

.back-to-listings a {
    text-decoration: none;
    color: black;
}


/* HOST PAGE */
.host-info {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    margin-left: 20rem;
    margin-top: 2.5rem;
    flex-direction: flex;
    text-align: center;
}

.host-info-card {
    /* border: 1px solid black; */
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 9998;
    margin-bottom: 3rem;
}


.host-img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    /* margin-bottom: 2rem; */
    /* margin-right:20px; */
}

.host-img-container {
    margin-bottom: 15px;
}

.host-details {
    text-align: left;
}

.host-details p,
.host-details a {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.host-details h2 {
    margin: 0;
    /* margin-bottom: -5px; */
}

.host-stats {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 5em; */
}

.host-stats .stats {
    font-size: 50px;
    font-weight: 500;
    margin: 5px;
}


.host-info {
    text-align: left;
}

.host-about-name {
    font-size: 3rem;
    margin-left: 50px;
    white-space: nowrap;
    background-color: none;
    z-index: 1;
}

.about-section {
    margin-left: 2rem;
    display: block;
    flex-direction: 1;
    z-index: 1;
}

.about {
    margin-top: 3rem;
    width: 75%;
    margin-left: 50px;
    margin-bottom: 30px;
}

.host-details-info {
    display: flex;
    width: 55%;
    margin-left: 50px;
    justify-content: space-between;
    white-space: nowrap;
}

.column {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
    /* Remove margin for the last column */
}

/* GENERAL */
.form-center {
    width: 375px;
    margin: 0 auto;
}

/* MAIN WIDTH TABLE */
.main-table {
    width: 750px;
    margin: 0 auto;
}



/* BUTTON */
.main-button, .main-button a, .main-button a:visited {
    background-color: #02589e;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 2em;
}

textarea {
    resize: vertical;
}

.submit-button {
    margin-top: 2em;
    margin-bottom: 2em;
}

.margin-top {
    margin-top: 2em;
}

.listing-img {
    width: 100%;
}


.thumb-img {
    width: 10%;
    border-radius: 100px;
}